<html>
 <head>
  <title>Gowallahash</title>
  <script type="text/javascript">
   function getpos() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        document.getElementById("position").innerHTML = "You are at " + position.coords.latitude + "," + position.coords.longitude;
      });
    }
   }
</script>
 </head>
 <body onload=getpos()>
 <h1>Gowallahash:</h1>
 <div id="position">Getting location...</div>
 <p>Looking up at {{ posnorth }}, {{ poswest }}:</p>
 {% if message %}
 <p>{{ message }}</p>
 {% endif %}
 {% if url %}
 <p><a href="{{url}}"><img src="{{imgurl}}"></a></p>
 {% endif %}
 </body>
</html>

